$primary-color: #5a57f6;
$dark-color: #191d28;

// start project_details
.project_details {
  padding: 80px 0;

  .content {
    max-width: 1100px;
    margin: auto;
    display: flex;
    gap: 30px;

    .images {
      width: 70%;
      .item {
        img {
          height: 500px;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .owl-nav {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 10px;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background-color: #bfc3e999;
          backdrop-filter: blur(5px);
          border-radius: 50%;

          span {
            font-size: 25px;
          }
        }
      }
    }

    .text {
      width: 30%;

      h4 {
        font-weight: 600;
        margin-bottom: 8px;
        font-size: 25px;
      }

      .desc {
        color: gray;
        line-height: 1.6;
        font-size: 17px;
        margin-bottom: 20px;
      }

      .item {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        h6 {
          font-size: 18px;
          margin-bottom: 0;
        }

        span {
          color: $primary-color;
          font-size: 17px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .project_details {
    padding: 30px 0;

    .content {
      flex-direction: column;
      gap: 30px;

      > div {
        width: 100% !important;
      }

      .images {
        .item {
          img {
            height: 300px;
          }
        }

        .owl-nav {
          button {
            width: 30px;
            height: 30px;

            span {
              font-size: 20px;
            }
          }
        }
      }

      .text {
        text-align: center;

        h4 {
          font-size: 20px;
        }

        .desc {
          font-size: 14px;
        }

        .item {
          justify-content: center;

          h6 {
            font-size: 17px;
          }

          span {
            font-size: 16px;
          }
        }
      }
    }
  }
}
// end project_details
